   body{
        color:blueviolet
       }

   header{
        position: fixed;
       font: small-caps
       }

    h1{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }
    
    .holder-type{
        color: orange;
    }

