   body{
        color:blueviolet
       }

   header{
        position: fixed;
       font: small-caps
       }

    h1{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }

    h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
    }
    
    .holder-type{
        color: orange;
    }

